extends layout

block content
  #banner.page-header 
    .row 
      .col-lg-6
        h1
          MekanBul 
            small &nbsp Civardaki mekanlari kesfet
  .row 
    .row.list-group 
      .col-xs-12.col-sm-12
        .col-sm-12.list-group-item
          h4 
          a(href="/mekan") Example
          small &nbsp
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          span.badge.pull-right.badge-default 1km
          p.address SDU Bati Kampusu
          p 
          span.label.label-warning Muhendis GEncler
          |&nbsp 
          span.label.label-warning Sinan Hocasi
  .row 
    .row.list-group 
      .col-xs-12.col-sm-12
        .col-sm-12.list-group-item
          h4 
          a(href="/mekan") Example
          small &nbsp
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          span.badge.pull-right.badge-default 1km
          p.address SDU Bati Kampusu
          p 
          span.label.label-warning Muhendis GEncler
          |&nbsp 
          span.label.label-warning Sinan Hocasi
  .row 
    .row.list-group 
      .col-xs-12.col-sm-12
        .col-sm-12.list-group-item
          h4 
          a(href="/mekan") Example
          small &nbsp
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          span.badge.pull-right.badge-default 1km
          p.address SDU Bati Kampusu
          p 
          span.label.label-warning Muhendis GEncler
          |&nbsp 
          span.label.label-warning Sinan Hocasi